html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Контейнер для таблицы с вертикальным скроллом */
.table-container-scrollable {
    max-height: 400px; /* Максимальная высота */
    overflow-y: auto; /* Включаем вертикальный скролл, если нужно */
    position: relative; /* Нужно для "липкого" заголовка */
}

    /* Делаем заголовок таблицы "липким", чтобы он оставался на виду при скролле */
    .table-container-scrollable thead {
        position: sticky;
        top: 0;
        z-index: 1; /* Чтобы заголовок был поверх контента */
        background-color: #f8f9fa; /* Цвет фона, чтобы контент не просвечивал. Подбери под свой дизайн */
    }


/* Компактная таблица с уменьшенными отступами */
.table-compact th,
.table-compact td {
    padding: 0.25rem 0.5rem; /* Уменьшенные отступы: 0.25rem по вертикали, 0.5rem по горизонтали */
    vertical-align: middle; /* Выравниваем контент по центру ячейки по вертикали */
}